<div class="container section">
    <section class="row justify-content-center mb-4" id="skills" >
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 " >
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 ">
                    <div class="row mb-3">
                        <div class="col-8 col-sm-10 col-md-10 col-lg-10 col-xl-10 mt-5 mb-5">
                            <small class="fs-4 fw-normal">
                                Software Portfolio
                            </small>
                            <p class="d-block mt-4">
                                These are projects I have personally worked on and developed from scratch.
                            </p>
                        </div>
                        <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center " >
                            <!-- <div class="box">
                                <div class="plane"> -->
                              
    <!-- 
                                </div>
                                <div class="cloud"> -->
                                    <!-- <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
                                    <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
                                    <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt=""> -->
                                <!-- </div>
                            </div> -->
                        </div>
                    </div>
    
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-10 mb-5" align="center">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 mb-5">
                            
                            <iframe  width="560" height="315" src="https://www.youtube.com/embed/UvDUB_uIlyE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
                            <small class="text-danger">Please view in higher resolutions</small>
                            <small class="lead d-block mt-4" >World Citizen</small> 
                            <small class="d-block mt-4">Full stack web application, made with NodeJS, ExpressJS, ReactJS, MySQL, and Bootstrap.</small>                   
                            <small class="d-block">
                                The application's main focuses are user experience and ease of use, database design, and responsive web practices.
                                Application includes many functionalities, such as user registration and profiles, user comments, user likes,
                                user posts etc.
                            </small>   
                            <small class="d-block fs-6 fw-bold mt-3">
                                Links to code
                            </small>
                            <div class="d-grid gap-2 d-flex justify-content-center d-sm-flex justify-content-sm-center d-md-flex justify-content-md-center mt-4 ">
                                <a class="btn btn-light me-md-2" type="button" target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham/wld-citz-w">Front End</a>
                                <a class="btn btn-light" type="button" target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham/wld-citz-s">Back End</a>
                            </div>
                            
                        </div>
                       
                    </div>
  
                </div>  
            </div>
        </div>
    
    
    
    </section>
    
    </div>
    