* {
  box-sizing: border-box;
}


.fa {
  font-size: 42px;
  color: #dc3545;
  bottom: 27px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  animation-name:arrow;
  animation-duration:10s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  -webkit-animation-name:arrow;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-animation-play-state:running;
}
.pulse {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 0;
  background-color: transparent;
  opacity: 0;
  width: 110px;
  height: 10px;
  border: 10px solid #dc3545;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 1s linear infinite 0.3s;
  -moz-animation: pulse 1s linear infinite 0.3s; 
  border-image: initial;
}
@keyframes arrow
  {
  0%   {bottom:0;}
  50% {bottom:30px;}
  100% {bottom:0;}
  }
@-webkit-keyframes arrow
  {
  0%   {bottom:0;}
  50% {bottom:30px;}
  100% {bottom:0;}
  }

@-webkit-keyframes pulse {       
  0% {-webkit-transform: scale(0); opacity: 0;}
  8% {-webkit-transform: scale(0); opacity: 0;}
  15% {-webkit-transform: scale(0.1); opacity: 1;}
  30% {-webkit-transform: scale(0.5); opacity: 1;}
  100% {opacity: 0; -webkit-transform: scale(1.5);}
}
@-moz-keyframes pulse {       
  0% {-webkit-transform: scale(0); opacity: 0;}
  8% {-webkit-transform: scale(0); opacity: 0;}
  15% {-webkit-transform: scale(0.1); opacity: 1;}
  30% {-webkit-transform: scale(0.5); opacity: 1;}
  100% {opacity: 0; -webkit-transform: scale(1.5);}
}

.box{
  position: relative; 
  height: 150px;
  /* background: rgba(0, 0, 0, .4);; */
  /* border: 10px solid linear-gradient(#6ab9ff, #0090d2); */
  box-shadow: inset 00 100px rgba(0,0,0,.8), 
  0 20 100px rgba(0,0,0,.8);
  overflow: hidden;
}

.plane{
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: plane 1s linear infinite;
}

.plane img{
  z-index: 3;
}

.cloud{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cloud img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 2;
  animation: cloud 1s linear infinite;
}
@keyframes plane{
  0%{
      transform: translate(2px, 2px);
  }
  50%{
      transform: translate(-2px, -2px);
  }
  100%{
      transform: translate(2px, 2px);
  }
}

@keyframes cloud{
  0%{
      transform: translateX(-400px);
  }
  40%,100%{
      transform: translateX(400px);
  }
}

.cloud img:nth-child(1)
{
  top: 20px;
  animation-delay: -2s;
  animation: cloud 5.2s linear infinite;
}

.cloud img:nth-child(2)
{
  top: 180px;
  animation-delay: -1s;
  animation: cloud 4.3s linear infinite;
}

.cloud img:nth-child(3)
{
  top: 100px;
  animation-delay: -2.5s;
  animation: cloud 4s linear infinite;
}

/* clouds */

.header{
  position: relative;
  /* background:linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0,0,0,1)), url('https://media.cntraveler.com/photos/5e064811dd3c6a0009234419/master/pass/New-Mexico-White-Sands-GettyImages-1026457358.jpg');  */
  width: 100%;
  min-height: 6.25rem;
  max-height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.header .clouds{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .header .clouds img{
      position: absolute;
      top: 16rem;
      max-width: 100%;
      animation: animate calc(8s * var(--i)) linear infinite; 
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .header .clouds img{
      position: absolute;
      top: 15rem;
      max-width: 100%;
      animation: animate calc(8s * var(--i)) linear infinite; 
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .header .clouds img{
      position: absolute;
      top: 13rem;
      max-width: 100%;
      animation: animate calc(8s * var(--i)) linear infinite; 
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .header .clouds img{
      position: absolute;
      top: 15rem;
      max-width: 100%;
      animation: animate calc(8s * var(--i)) linear infinite; 
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .header .clouds img{
      position: absolute;
      top: 15rem;
      max-width: 100%;
      animation: animate calc(8s * var(--i)) linear infinite; 
  }
}
@keyframes animate
{
  0%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(100%);
  }
}
.icon-hover{
  background-color: white;
  color: black;
}
.icon-hover:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

