<div class="container section">
    <section class="row justify-content-center mb-4" id="skills" >
        <div class="d-flex align-items-center" style="height: 400px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0,0,0,1)), url('/assets/images/mountains-portfolio.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-5" align="center" >
                <small class="display-6 fw-normal mt-5 mb-5 text-white">
                    Software Portfolio
                </small>
            
            </div>
        
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 " >
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-12 ">
                    <div class="row mb-3">
                        <div class="col-8 col-sm-10 col-md-10 col-lg-10 col-xl-10 mt-5 mb-5">
                            
                            <p class="d-block">
                                Examples of some projects I have developed
                            </p>
                        </div>
                        <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center " >
                            <!-- <div class="box">
                                <div class="plane"> -->
                              
    <!-- 
                                </div>
                                <div class="cloud"> -->
                                    <!-- <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
                                    <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
                                    <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt=""> -->
                                <!-- </div>
                            </div> -->
                        </div>
                    </div>
    
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-10 mb-5" align="center">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-5">
                            <div>
                                <div class="d-flex justify-content-center holds-the-iframe" >
                                    <iframe  width="100%" height="315" src="https://www.youtube.com/embed/UvDUB_uIlyE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
                                </div>
                            <small class="text-danger">Please view in higher resolutions</small>
                            <small class="lead d-block mt-4" >World Citizen</small> 
                            <small class="d-block mt-4">Full stack web application, made with Node<span class="fw-bold">JS</span>, Express<span class="fw-bold">JS</span>, React<span class="fw-bold">JS</span>, MySQL, and Bootstrap.
                                The application's main focuses are user experience and ease of use, database design, and responsive web practices.
                                Application includes many functionalities, such as user registration and profiles, user comments, user likes,
                                user posts etc.
                            </small>   
                            <small class="d-block fs-6 mt-3 ">
                                Links to codebase
                            </small>
                            <div class="d-grid gap-2 d-flex justify-content-center d-sm-flex justify-content-sm-center d-md-flex justify-content-md-center mt-4 ">

                                <a  class="me-md-2"  target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham/wld-citz-w">                                
                                    <button mat-raised-button>
                                        Front End
                                    </button>
                                </a>
                                <a class=""  target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham/wld-citz-s">
                                    <button mat-raised-button>
                                        Back End
                                    </button>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-5" >
                        <div class="position-relative header">
                        <div class="clouds">
                            <img src="https://i.ibb.co/C6gXjRm/cloud5.png" style="--i:1;" alt="">
                            <img src="https://i.ibb.co/nbN8nrm/cloud4.png" style="--i:2;" alt="">
                            <img src="https://i.ibb.co/C7V3xBf/cloud3.png" style="--i:3;" alt="">
                            <img src="https://i.ibb.co/285P6GP/cloud2.png" style="--i:4;" alt="">
                            <img src="https://i.ibb.co/7R0bj2x/cloud1.png" style="--i:5;" alt="">
                        </div>  
                        <div style="background:linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0,0,0,1)), url('https://images.unsplash.com/photo-1490604001847-b712b0c2f967?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2753&q=80'); background-size: cover; background-repeat: no-repeat; background-position: bottom; height: 315px;" >
                            <div class="row justify-content-center align-items-center" style="height: 10rem;">
                                <div class="col-10 col-sm-10 col-md-8 col-lg-10 col-xl-10 mt-3 " align="center">
                                    <p class="fs-5 fw-normal text-white mt-4">Alazar Markos</p>
                                    <p class="fs-6 fw-light mt-2 text-white" >Software Engineer</p>
                                    <small class="fw-lighter text-center mt-1 text-white" >
                                        I am full stack software developer, and have experience with both
                                        web and server side development. As a software engineer, I have worked at Xpanxion/UST Global as a Junior Java Developer and Delta Airlines as a Java developer.
                                    </small>
                                    <div class="row justify-content-center mt-3">
                                        <div class="col-4 col-sm-3 col-md-4 col-lg-4 col-xl-4" align="center">
                                            <!-- <a  class="text-decoration-none" href="skills"> -->
                                                <div>
                                                    <div class="box">
                                                        <!-- <a href="" class="text-decoration-none"> -->
                                                            <small class="text-white" >Skills and <br> Experience</small>
                                                        <!-- </a> -->
                                                        <div class="plane mt-2" style="height: 30%;">
                                                            <img  width="20"  src="https://www.svgrepo.com/show/295826/coding-seo-and-web.svg" alt="">
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            <!-- </a> -->
                                        </div>
                                        <div class="col-4 col-sm-3 col-md-4 col-lg-4 col-xl-4">
                                            <!-- <a class="text-decoration-none" href="portfolio"> -->
                                                <div>
                                                    <div class="box">
                                                        <small class="text-white">Software<br> Portfolio</small>
                                                        <div class="plane mt-2" style="height: 30%;">
                                                            <img  width="20"  src="https://www.svgrepo.com/show/25406/portfolio.svg" alt="">
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            <!-- </a> -->
                                        </div>
                                        <div class="col-4 col-sm-3 col-md-4 col-lg-4 col-xl-4">
                                            <!-- <a href="info" class="text-decoration-none"> -->
                                                
                                                <div>
                                                    <div class="box">
                                                        <small class="text-white">Contact <br> Information</small>
                                                        <div class="plane mt-2" style="height: 25%;">
                                                            <img  width="20"  src="https://www.svgrepo.com/show/362135/phone.svg" alt="">
                                                        </div>
                                                        <!-- <div class="cloud">
                                                            <img height="40" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
                                                        </div> -->
                                                    </div>
                                                </div>
                                            <!-- </a> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        </div>
                        <!-- <small class="text-danger">Please view in higher resolutions</small> -->
                        <small class="lead d-block mt-5" >Alazar Markos Portfolio</small> 
                        <small class="d-block mt-4">
                            Made with Angular, Typescript, Angular Material, and Bootstrap. Designed and intended to showcase original styling and responsive web design. 
                        </small>   
                        <small class="d-block fs-6 " style="margin-top: 3.64rem;">
                            Links to codebase
                        </small>
                        <div class="d-grid gap-2 d-flex justify-content-center d-sm-flex justify-content-sm-center d-md-flex justify-content-md-center mt-4 ">

                            <a  class="me-md-2"  target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham/project">                                
                                <button mat-raised-button>
                                    Project
                                </button>
                            </a>
                           
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 mb-5 mt-3">
                        <div>
                            <div class="d-flex justify-content-center holds-the-iframe" >
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/RdlPJ8NvVBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <small class="text-danger">Please view in higher resolutions</small>
                        <small class="lead d-block mt-4" >Java JSP Servlet App</small> 
                        <small class="d-block mt-4">
                            Java web app written with Java Servlets, Java Server Pages (JSP), JSP Standard Tag Library (JSTL), MySQL database, and Apache Tomcat Server. 
                            App allows admins and agents to login and manage(read, write, update, delete) policies and policy holders. Application limits agents to certain views and grants admins ability to add agents and policies.
                        </small>   
                        <small class="d-block fs-6 mt-3 ">
                            Links to codebase
                        </small>
                        <div class="d-grid gap-2 d-flex justify-content-center d-sm-flex justify-content-sm-center d-md-flex justify-content-md-center mt-4 ">

                            <a  class="me-md-2"  target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham/javaapp/tree/stylechanged/agents-master22">                                
                                <button mat-raised-button>
                                    Project
                                </button>
                            </a>
                           
                        </div>
                        
                    </div>
                </div>
                    </div>
  
                </div>  
            </div>
        </div>
    
    
    
    </section>
    
    </div>
    