<div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    
    <div class="row justify-content-center mt-4">
        <div class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-4 mt-4" align="center">

        <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 mt-4" align="center"> -->
            <div class="row justify-content-center border form text-light p-5">
                <small class="text-center display-6" >Atlantica</small>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 mt-4">
                    <div class="input-group mb-3 mt-4">
                        <input formControlName="first_name" type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 mt-4">
                    <div class="input-group mb-3">
                        <input formControlName="last_name" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 mt-4">
                    <div class="input-group mb-3">
                        <input formControlName="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 mt-4 mb-2">
                    <div class="input-group mb-3">
                        <input formControlName="password" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                    </div>
                    <button class="btn btn-light mt-4">Sign Up</button>
                    <p class="text-center mt-4">Already have an account? <a href="" class="text-decoration-none text-primary">Login</a></p>

                </div>

            </div>
        </div>
    </div>
   

</form>
</div>