<div class="container-lg">
<section class="row justify-content-center mb-4">
    <div class="d-flex align-items-center" style="height: 400px; background:linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0,0,0,1)), url('https://cdn.wallpapersafari.com/98/50/kC8loD.jpg'); background-size: cover; background-repeat: no-repeat; background-position: top;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-5" align="center" >
            <small class="display-6 fw-normal mt-5 mb-5 text-white">
                Contact
            </small>
        
        </div>
    
    </div>
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 mb-4">
        <div class="row justify-content-center" style="height: 100%;">
            <div class="col-10 col-sm-10 col-md-12 col-lg-10 col-xl-4 order-xl-2 mt-3" align="center">
                <div class="row mt-4 ">
                    <div class="col-xl-12">
                        <small class="fs-3 fw-normal mt-5 mb-5 ">
                            Contact Information
                        </small>
                        <hr class="w-100 border-dark" style="border-bottom: 1px solid;">
                        <small class="d-block h6 fw-light">Need to reach out?</small>
                        <small class="d-block mt-3">
                            For any questions, please feel free to contact me.
                        </small>
                        <div class="row justify-content-center mt-4 gx-5">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-12  mt-3" align="center">
                                    <a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="tel:(678)-614-0234 "  >
                                        <div style="height:10.625rem; width: calc(100% - 0.5rem);max-width: none; min-width: 0; min-height: 3.125rem;" class="border rounded zoom ">

                                            <img class="mt-3" src="https://cdn-icons-png.flaticon.com/512/604/604609.png" width="10%" alt="">
                                            <small class="d-block fw-light mt-3" style="font-size: 1.25rem;">Mobile</small>
                                            <small class="d-block fw-light mt-1" style="font-size: .7rem;">(678)-614-0234</small>
                                            <!-- <small class="d-block mt-1" style="font-size: .6rem;">Mon – Fri: 5:00pm– 8:00pm ET</small>
                                            <small class="d-block" style="font-size: .6rem;">Sat: 12:00am – 8:00pm ET</small>
                                            <small class="d-block" style="font-size: .6rem;">Sun: 12:00am – 6:00pm ET</small> -->
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-12 mt-3" align="center" >
                                    <a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="mailto:alazarabraham1@gmail.com" >
                                        <div style="height:10.625rem; width: calc(100% - 0.5rem);" class="border rounded zoom ">

                                            <img class="mt-3" src="https://icons-for-free.com/download-icon-circle+email+mail+message+send+share+icon-1320086083757855622_0.svg" width="10%" alt="">
                                            <small class="d-block fw-light mt-3" style="font-size: 1.25rem;">Email Me</small>
                                            <small class="d-block fw-light mt-1" style="font-size: .7rem;">alazarabraham@gmail.com</small>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-12 mt-3" align="center" >
                                    <a class="text-decoration-none text-dark h6 fw-light" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/uc?export=download&id=1IArSHXY0yHkMfCa1JxbL3B5EE5pOuCrI">
                                        <div style="height:10.625rem; width: calc(100% - 0.5rem);" class="border rounded zoom ">
                                            <img class="mt-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXOdQwnZZYhIQFj36LAAyykwqy6rGTeU5dx7aqHbmPgAT0_BQIuB6kBct3pPARwR_LeI8&usqp=CAU" width="10%" alt="">
                                            <small class="d-block fw-light mt-3" style="font-size: 1.25rem;">Resume</small>
                                            <small class="d-block mt-1" style="font-size: .7rem;">
                                                    Download copy of resume 
                                            </small>
                                        </div>
                                    </a>

                                </div>


                        </div>
                        <!-- <div class="row justify-content-start">
                            <div class="col-3 col-sm-6 col-md-6 col-lg-6 col-xl-1 mx-3 mt-5">
                                <i class="fa fa-mobile fs-2"></i>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-9 mt-5">
                                <small class="d-block fs-6 fw-light"><a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="tel:(678)-614-0234 ">(678)-614-0234</a></small>
                                <small class="d-block mt-4">Best Availablity:</small>
                                <small class="d-block">Mon – Fri: 5:00pm– 8:00pm ET</small>
                                <small class="d-block">Sat: 12:00am – 8:00pm ET</small>
                                <small class="d-block">Sun: 12:00am – 6:00pm ET</small>
                            </div>
                            <div class="col-3 col-sm-6 col-md-6 col-lg-6 col-xl-1 mx-3 mt-5" align="center">
                                <i class="fa fa-envelope-o" style="font-size: 22px;"></i>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-9 mt-5">
                                <small class="d-block fs-6 fw-light"> <a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="mailto:alazarabraham1@gmail.com">Email Me</a></small>
                            </div>
                            <div class="col-3 col-sm-6 col-md-6 col-lg-6 col-xl-1 mx-3 mt-4" align="center">
                                <i class="fa fa-download" style="font-size: 22px;"></i>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-9 mt-4">
                                <small class="d-block fs-6 fw-light"> 
                                    <a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/uc?export=download&id=1IArSHXY0yHkMfCa1JxbL3B5EE5pOuCrI">
                                        Download Resume 
                                    </a>
                                </small>
                            </div>
                        </div> -->
                        <!-- <p class="mt-4 lead">
                            <i class="text-dark mx-3 fa fa-phone fa-fw"></i> <a class="text-primary" target="_blank" rel="noopener noreferrer" href="tel:(678)-614-0234 ">(678)-614-0234 </a>
                        </p>
                        <p class="mt-4 lead">
                            <i class="text-dark mx-3 fa fa-envelope-o fa-fw"></i>  <a class="text-primary" target="_blank" rel="noopener noreferrer" href="mailto:alazarabraham1@gmail.com">alazarabraham1@gmail.com</a>
                        </p>
                        <p class="mt-4 lead">
                            <i class="text-dark mx-3 fa fa-linkedin fa-fw"></i>         
                            <a class="text-primary" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/alazar-markos-119961194">
                                LinkedIn Profile
                            </a>
                        </p>
                        <p class="mt-4 lead">
                            <i class="text-dark mx-3 fa fa-file-o fa-fw"></i>         
                            <a class="text-primary" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/uc?export=download&id=1IArSHXY0yHkMfCa1JxbL3B5EE5pOuCrI">
                                Download Resume 
                            </a>
                        </p> -->
                    </div>
                    
                </div>
                
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 order-xl-1 mt-3">
                <div class="row mt-4 justify-content-center">
                    <div class="col-10 col-sm-10 col-md-12 col-lg-12 col-xl-12">
                        <small class="fs-3 fw-normal mt-5 mb-5">
                            Resume
                        </small>
                        <hr class="w-100 border-dark" style="border-bottom: 1px solid;">

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" align="center" style="height: 100vh;">
                        <iframe width="100%" height="100%" src="https://docs.google.com/document/d/e/2PACX-1vSPh4cfMbHNmwdpwm6Mb-D76ioe07SQy5qBPLdCz6gnFc8w1r0xJ6McZ6xkuSsGhw/pub?embedded=true"></iframe>
                    </div>
                </div>
                
            </div> 
        </div>
    </div>

</section>

</div>