.box{
    position: relative;
    width: 180px;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    /* border: 10px solid linear-gradient(#6ab9ff, #0090d2); */
    box-shadow: inset 00 100px rgba(0,0,0,.8), 
    0 20 100px rgba(0,0,0,.8);
    overflow: hidden;
}

.plane{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: plane 1s linear infinite;
}

.plane img{
    z-index: 3;
}
 
.cloud{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cloud img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: 2;
    animation: cloud 1s linear infinite;
}
@keyframes plane{
    0%{
        transform: translate(2px, 2px);
    }
    50%{
        transform: translate(-2px, -2px);
    }
    100%{
        transform: translate(2px, 2px);
    }
}

@keyframes cloud{
    0%{
        transform: translateX(400px);
    }
    40%,100%{
        transform: translateX(-400px);
    }
}

.cloud img:nth-child(1)
{
    top: 20px;
    animation-delay: -2s;
    animation: cloud 5.2s linear infinite;
}

.cloud img:nth-child(2)
{
    top: 180px;
    animation-delay: -1s;
    animation: cloud 4.3s linear infinite;
}

.cloud img:nth-child(3)
{
    top: 100px;
    animation-delay: -2.5s;
    animation: cloud 4s linear infinite;
}