<header class="p-3 border-bottom" style="background-color: ;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!-- <li><a href="" class="nav-link px-2 link-secondary text-decoration-none text-dark lead"><span >Atlanta, GA</span> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" width="41" class="px-2 mb-1"/></a></li> -->
        <li>
          <a href="" class="nav-link px-2 link-secondary text-decoration-none text-dark lead">
            Alazar Markos 
          </a>
        </li>
        <!-- <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Products</a></li> -->
      </ul>

      <div class="d-grid mt-2 gap-2 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end px-3">          
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/alazar-markos-119961194">
          <div class="px-4">
            <i class="fa fa-linkedin lead text-dark"></i>
          </div>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1IArSHXY0yHkMfCa1JxbL3B5EE5pOuCrI/view">
          <div class="px-4">
            <i class="fa fa-file lead text-dark"></i>
          </div>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham">
          <div class="px-4">
            <i class="fa fa-github lead text-dark"></i>
          </div>
        </a>
      </div>

      <div class="dropdown">
        <span class=" dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/assets/images/1606355969310.jpeg" alt="mdo" width="32" height="32" class="rounded-circle mx-1">
          <!-- <i class="fa fa-chevron-down " style="font-size: 10px;"></i> -->

        </span>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="">Home</a></li>
          <li><a class="dropdown-item" href="/skills">Skills and Experience</a></li>
          <li><a class="dropdown-item" href="/portfolio">Software Portfolio</a></li>
          <li><a class="dropdown-item" href="/contact">Contact</a></li>
        </ul>
      </div>
      <!-- <div class="dropdown text-end" >
        <span style="cursor: pointer;" class="d-block link-dark text-decoration-none dropdown-toggle show" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
          <img src="https://media-exp2.licdn.com/dms/image/C4D03AQHmKGPT7v0KTw/profile-displayphoto-shrink_100_100/0/1606355969310?e=1662595200&v=beta&t=YZFrBcRAjE7BwdGpbYXrjA8BhQqMAcwpDI46C-24ypI" alt="mdo" width="32" height="32" class="rounded-circle">
        </span>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="">Home</a></li>
          <li><a class="dropdown-item" href="/skills">Skills and experience</a></li>
          <li><a class="dropdown-item" href="#">Software Portfolio</a></li>
          <li><a class="dropdown-item" href="/info">Contact</a></li>
          <li><hr class="dropdown-divider"></li>
        </ul>
      </div> -->
    </div>
  </div>
</header>
<!-- <div class='bg-light mb-5 row justify-content-center align-items-center' style='height: 52px;'>
  <div class="row justify-content-center px-4">
    <div class="col-8 col-sm-10 col-md-10 col-lg-10 col-xl-9 px-5">
    <span >Atlanta, GA</span> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" width="41" class="px-2 mb-1"/>
    </div>
  </div>

</div> -->
<div id="carouselExampleSlidesOnly" class="carousel slide mb-sm-0 mb-md-0 mb-lg-5 mb-xl-5 mb-0" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active w-100 row justify-content-center">
      
      <div style="height: 48px;" class="bg-light w-100 d-flex justify-content-center align-items-center">
        <small class="text-center">Based out of Atlanta, Georgia <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png" width="20" class="mb-1"/>. More details in <a class="text-dark" href="contact">Contact Information</a></small>
      </div>
    </div>
    <div class="carousel-item  w-100 row justify-content-center">
      <div style="height: 48px;" class="bg-light w-100 d-flex justify-content-center align-items-center">
        <small class="text-center">Primarily program in Java, Javascript and Typescript, see <a class="text-dark" href="skills">Skills and Experience</a> for more details</small>
      </div>
    </div>
    <div class="carousel-item  w-100 row justify-content-center align-items-center">
      <div style="height: 48px;" class="bg-light w-100 d-flex justify-content-center align-items-center">
        <small class="text-center">Examples of applications I have developed are in <a class="text-dark" href="portfolio">Software Porfolio</a></small>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <footer class="page-footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="text-black lead">Alazar Markos</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="text-dark">Links</h5>
        <ul class="row">
          <li class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <a class="text-black black text-lighten-3 btn-floating pulse" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/alazar-markos-119961194">
                <i class="fa fa-linkedin lead text-white"></i>
              </a>
          </li>
          <li class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <a class="text-black black text-lighten-3 btn-floating pulse" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1IArSHXY0yHkMfCa1JxbL3B5EE5pOuCrI/view">
              <i class="fa fa-file lead text-white"></i>
            </a>
          </li>
          <li class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <a class="text-black black text-lighten-3 btn-floating pulse" target="_blank" rel="noopener noreferrer" href="https://github.com/alazarabraham">
              <i class="fa fa-github lead text-white"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background: #000000;">
    <div class="container">
    © 2022 Alazar Markos
    <a class="text-white text-lighten-4 right" href="/info">More Links</a>
    </div>
  </div>
  
</footer> -->
