<header style="background-color: rgb(1, 5, 14,0.4);" class="p-3 text-white fixed-top" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <small class="lead mt-2">Alazar Markos</small>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!-- <li><a href="" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
      </ul>

    

      <div class="d-grid mt-2 gap-2 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end">          
        <a href="">
          <div class="px-4">
            <i class="fa fa-github text-white"></i>
          </div>
        </a>
        <a href="">
          <div class="px-4">
            <i class="fa fa-linkedin text-white"></i>
          </div>
        </a>
        <a href="">
          <div class="px-4">
            <i class="fa fa-file text-white"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
<router-outlet ></router-outlet>
