<div class="container-lg">
    <section class="row justify-content-center mb-4">
        <div class="d-flex align-items-center mb-5" style="height: 400px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0,0,0,1)), url('/assets/images/contact_mountain.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5" align="center" >
                <small class="display-6 fw-normal mt-5 text-white">
                    Contact
                </small>
            
            </div>
        </div>
        <!-- <nav aria-label="breadcrumb mt-5">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
        </nav> -->
        <div class="col-md-8 col-lg-4 col-xl-3 order-1 order-sm-1  order-md-1 order-lg-1 mt-1 mb-5" >
            <small class="d-block h6 fw-light mt-5 text-center text-sm-center text-lg-start text-xl-start">Need to reach out?</small>
            <small class="d-block text-center text-lg-start text-xl-start">
                For any questions, please feel free to contact me.
            </small>
            <div class="row justify-content-center justify-content-lg-start justify-content-xl-start">
                <div class="col-xs-1 col-1 col-sm-1 col-md-1 col-lg-2 col-xl-1 mx-3 mt-5 d-flex align-items-center justify-content-center">
                    <a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="tel:(678)-614-0234 ">
                        <i class="fa fa-mobile fs-2 text-primary"></i>
                    </a>
                </div>
                <div class="col-xs-5 col-6 col-sm-5 col-md-5 col-lg-8 col-xl-9 mt-5">
                    <small class="d-block fs-6 fw-light text-center text-lg-start text-xl-start"><a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="tel:(678)-614-0234 ">(678)-614-0234</a></small>
                    <small class="d-block mt-4 text-center text-lg-start text-xl-start">Best Availablity:</small>
                    <small class="d-block text-center text-lg-start text-xl-start">Mon – Fri: 5:00pm– 8:00pm ET</small>
                    <small class="d-block text-center text-lg-start text-xl-start">Sat: 12:00am – 8:00pm ET</small>
                    <small class="d-block text-center text-lg-start text-xl-start">Sun: 12:00am – 6:00pm ET</small>
                </div>
                <div></div>
                <div class="col-xs-1 col-1 col-sm-1 col-md-1 col-lg-2 col-xl-1 mx-3 mt-5 d-flex align-items-center justify-content-center">
                    <a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="mailto:alazarabraham1@gmail.com">
                        <i class="fa fa-envelope-o text-primary" style="font-size: 22px;"></i>
                    </a>
                    </div>
                <div class="col-xs-5 col-6 col-sm-5 col-md-5 col-lg-8 col-xl-9 mt-5">
                    <small class="d-block fs-6 fw-light text-center text-lg-start text-xl-start"> <a class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer" href="mailto:alazarabraham1@gmail.com">Email Me</a></small>
                </div>
                <div></div>

                <div class="col-xs-1 col-1 col-sm-1 col-md-1 col-lg-2 col-xl-1 mx-3 mt-5 d-flex align-items-center justify-content-center">
                    <a class="text-decoration-none  text-dark " target="_blank" rel="noopener noreferrer" href="https://drive.google.com/uc?export=download&id=1IArSHXY0yHkMfCa1JxbL3B5EE5pOuCrI">
                        <i class="fa fa-download text-primary" style="font-size: 22px;"></i>
                    </a>
                </div>
                <div class="col-xs-5 col-6 col-sm-5 col-md-5 col-lg-8 col-xl-9 mt-5">
                    <small class="d-block fs-6 fw-light text-center text-lg-start text-xl-start"> 
                        <a class="text-decoration-none  text-dark " target="_blank" rel="noopener noreferrer" href="https://drive.google.com/uc?export=download&id=1IArSHXY0yHkMfCa1JxbL3B5EE5pOuCrI">
                            Download Resume 
                        </a>
                    </small>
                </div>
            </div>
            
        </div>
        <div class="col-xs-1 col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 order-2 order-sm-2 order-md-2 order-lg-2 mt-5 " style="height:100vh;">
            <span class="fs-2 fw-bold mt-2 d-block text-center">Get in touch</span>
            <span class="fs-6 fw-light mt-4 d-block text-center">I will get back to you as soon as I am able to, thank you!</span>
            <div class="row justify-content-center">
                <div class="col-xs-1 col-11 col-sm-10 col-md-8 col-lg-6 col-xl-6 mt-5 " >
                    <div class="border " style="border-radius: .5rem;">
                        <span class="fs-4 fw-bold d-block mx-4 mt-3">Resume</span>
                        <small class="fw-light d-block mx-4 mt-3">More details available in resume</small>
                        <button class="mx-4 mt-3 mb-4" mat-raised-button (click)="openDialog()">View Resume <img src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/DiagonalArrowUpRight-512.png" width="10" alt=""></button>
                    </div>
                </div>
            </div>
           
            <!-- <mat-accordion class="mt-5" style="overflow-y:auto;">
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Resume
                    </mat-panel-title>
                    <mat-panel-description>
                      Expand to view resume <i class="fa fa-file-o mx-2"></i> 
                    </mat-panel-description>
                  </mat-expansion-panel-header >
                  <iframe width="100%" height="1000px" src="https://docs.google.com/document/d/e/2PACX-1vSPh4cfMbHNmwdpwm6Mb-D76ioe07SQy5qBPLdCz6gnFc8w1r0xJ6McZ6xkuSsGhw/pub?embedded=true"></iframe>
                </mat-expansion-panel>
            </mat-accordion> -->
        </div>
    </section>
</div>