<div style="position: absolute; top: 0px; right: 0px;">
    <div class="box">
        <div class="plane">
            <img height="100"  src="https://freesvg.org/img/DoveAndOliveBranch3.png" alt="">
        </div>
        <div class="cloud">
            <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
            <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
            <img height="100" src="https://www.seekpng.com/png/full/78-780259_the-next-generation-of-cloud-cloud-icon-white.png" alt="">
        </div>
    </div>
</div>
