.header{
    position: relative;
    /* background:linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0,0,0,1)), url('https://media.cntraveler.com/photos/5e064811dd3c6a0009234419/master/pass/New-Mexico-White-Sands-GettyImages-1026457358.jpg');  */
    width: 100%;
    min-height: 80vh;
    max-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header .clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header .clouds img{
    position: absolute;
    top: 300px;
    max-width: 100%;
    animation: animate calc(8s * var(--i)) linear infinite; 
}

@keyframes animate
{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.icon-hover{
    background-color: white;
    color: black;
}
.icon-hover:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
