
    <div class="header">
        <div class="clouds">
            <img src="https://i.ibb.co/C6gXjRm/cloud5.png" style="--i:1;" alt="">
            <img src="https://i.ibb.co/nbN8nrm/cloud4.png" style="--i:2;" alt="">
            <img src="https://i.ibb.co/C7V3xBf/cloud3.png" style="--i:3;" alt="">
            <img src="https://i.ibb.co/285P6GP/cloud2.png" style="--i:4;" alt="">
            <img src="https://i.ibb.co/7R0bj2x/cloud1.png" style="--i:5;" alt="">
        </div>  
        <div class="container" style="height: 600px; width: 100%; background:linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0,0,0,1)), url('https://images.unsplash.com/photo-1490604001847-b712b0c2f967?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2753&q=80'); background-size: cover; background-repeat: no-repeat; background-position: bottom;">
            <div class="row justify-content-center align-items-center" style="height: 400px;">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-5 mb-5" align="center">
                    <p class="fs-1 fw-normal mt-5 text-white">Alazar Markos</p>
                    <p class="fs-4 fw-light mt-4 text-white" >Software Engineer</p>
                    <small class="fw-lighter text-center mt-5 text-white" style="font-size: 16px;">
                        I am full stack software developer, and have experience with both
                        web and server side development. As a software engineer, I have worked at Xpanxion/UST Global as a Junior Java Developer and Delta Airlines as a Java developer.
                    </small>
                    <app-skills-animation></app-skills-animation>
                </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        <app-skills></app-skills>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-12 mt-5 mb-5">
                <p class="fs-4 fw-normal text-dark">Software Portfolio</p>
                
            </div>
            
        </div>
    </div>


